@charset "UTF-8";

/* #️⃣再生クラス付与で作動するアニメの指定(11) */

/* 🔹身体アニメ(4) */

.身体_縦伸.再生,
.身体_拍動.再生,
.身体_横揺.再生,
.身体_震動.再生,

/* 🔹口元アニメ(1) */

.口元.再生,
.ヒゲ.再生,

/* 🔹汎用アニメ(6) */

.縦伸.再生,
.拍動.再生,
.拍動→目瞬.再生,
.発射.再生,
.発射→拍動.再生,
.横揺.再生

    { animation-play-state: running; }


/* #️⃣設定: 表情アニメ OFF */

/* 🔹再生アニメ(11) */

body.停止 .身体_縦伸,
body.停止 .身体_拍動,
body.停止 .身体_横揺,
body.停止 .身体_震動,

body.停止 .口元,
body.停止 .ヒゲ,

body.停止 .縦伸.再生,
body.停止 .拍動.再生,
body.停止 .拍動→目瞬,
body.停止 .発射,
body.停止 .発射→拍動,
body.停止 .横揺.再生,

/* 🔹即時アニメ(2)とふきだし */

body.停止 .回転,
body.停止 .微動,

body.停止 .💬::before,
body.停止 .💬::after

    { animation: none; }

/* 🔹OFF時表示 */

body.停止 .発射 {
    opacity: 1;
    scale:   1;
}


/* #️⃣画面外アニメの停止 */

.🥸.画面外 .再生,
.🐰.画面外 .再生,
.👤.画面外 .再生,
.🥸.画面外 .💬::before,
.🐰.画面外 .💬::before,
.👤.画面外 .💬::before,
.🥸.画面外 .💬::after,
.🐰.画面外 .💬::after,
.👤.画面外 .💬::after,
.🥸.画面外 .回転,
.🐰.画面外 .回転,
.👤.画面外 .回転,
.🥸.画面外 .微動

    { animation-play-state: paused; }


/* #️⃣身体アニメクラス(4) ※再生クラス付与で作動、次ターンで停止 */

.身体_縦伸 { /* scale: 通常の発話 */
    transform-origin: 50% 100%;
    animation: 縦伸 calc(var(--時間, 0.25s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}

.身体_拍動 { /* scale x 2: 感情大からの発話 */
    transform-origin: 50% 100%;
    animation: 拍動 calc(var(--時間1, 1.00s) / var(--アニメ速度, 1)) var(--待機1, 0s) paused,
               縦伸 calc(var(--時間2, 0.25s) / var(--アニメ速度, 1)) calc(calc(var(--待機1, 0s) + var(--時間1, 1s)) / var(--アニメ速度, 1)) ease-in-out infinite alternate paused;
}

.身体_横揺 { /* rotate: 横にユラユラ */
    transform-origin: 50% 100%;
    animation: 横揺 calc(var(--時間, 0.5s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}

.身体_震動 { /* translate: 小刻みな震え */
    animation: 震動 calc(var(--時間, 0.5s) / var(--アニメ速度, 1)) var(--待機, 0s) linear infinite paused;
}

/* 🔹キャラ別変数指定 */

.🥸 .身体_縦伸 { --時間: 0.50s; }
.🐰 .身体_縦伸 { --時間: 0.25s; }

.🥸 .身体_拍動 { --時間2: 0.50s; }
.🐰 .身体_拍動 { --時間2: 0.25s; }

.🥸 .身体_横揺 { --時間: 1.0s; }
.🐰 .身体_横揺 { --時間: 0.5s; }

.🥸 .身体_縦伸 > *,
.🐰 .身体_縦伸 > *,
.🥸 .身体_拍動 > *,
.🐰 .身体_拍動 > *,
.🥸 .身体_横揺 > *,
.🐰 .身体_横揺 > * { /* 子要素に引き継がない */
    --起点: initial;
    --時間: initial; --時間1: initial; --時間2: initial;
    --待機: initial; --待機1: initial; --待機2: initial;
}


/* #️⃣口元アニメクラス(1) ※再生クラス付与で作動、文字送り終了で停止 */

.口元 { /* scale: 口パク */
    --倍率: 0.1;
    transform-origin: var(--起点, 50% 75%);
    animation: 縦伸 calc(var(--時間, 0.2s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}

.ヒゲ { /* translate: ヒゲの上下 */
    --距離: 1px;
    animation: 上下 calc(var(--時間, 0.2s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}


/* #️⃣汎用アニメクラス(6) ※再生クラス付与で作動 */

.縦伸 { /* scale: 上下に伸張 */
    transform-origin: var(--起点, 50% 100%);
    animation: 縦伸 calc(var(--時間, 0.25s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}

.拍動 { /* scale: 原型から速く拡張、原型にゆっくり収縮 */
    animation: 拍動 calc(var(--時間, 1s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate;
}

.拍動→目瞬 { /* scale x 2: 目が一瞬飛び出してからの目瞬き */
    transform-origin: var(--起点, 50% 67%);
    animation: 拍動 calc(var(--時間1, 1s) / var(--アニメ速度, 1)) var(--待機1, 0s) paused,
               目瞬 calc(var(--時間2, 1s) / var(--アニメ速度, 1)) calc(calc(var(--待機1, 0s) + var(--時間1, 1s)) / var(--アニメ速度, 1)) infinite alternate paused;
}

.発射 { /* scale: 空中に飛び出す驚きマークなど */
    opacity: 0;
    transform-origin: var(--起点, 50% 50%);
    animation: 発射 calc(var(--時間, 1s) / var(--アニメ速度, 1)) var(--待機, 0s) forwards paused;
}

.発射→拍動 { /* scale x 2: 空中に飛び出してから拍動するハートや雷など */
    opacity: 0;
    transform-origin: var(--起点, 50% 50%);
    animation: 発射 calc(var(--時間1, 1s) / var(--アニメ速度, 1)) var(--待機1, 0s) forwards paused,
               拍動 calc(var(--時間2, 1s) / var(--アニメ速度, 1)) calc(calc(var(--待機1, 0s) + var(--時間1, 1s)) / var(--アニメ速度, 1)) ease-in-out infinite alternate paused;
}

.横揺 { /* rotate: 腕振りなど */
    transform-origin: var(--起点, 50% 100%);
    animation: 横揺 calc(var(--時間, 0.5s) / var(--アニメ速度, 1)) var(--待機, 0s) ease-in-out infinite alternate paused;
}


/* #️⃣即時アニメクラス(2) ※最初から作動 */

.回転 { /* rotate: 星の回転など */
    transform-origin: var(--起点, 50% 50%);
    animation: 回転 calc(var(--時間, 5s) / var(--アニメ速度, 1)) var(--待機, 0s) linear infinite;
}

.微動 { /* translate + rotate: 不定な動き */
    transform-origin: 40% 90%;
    animation: 微動 calc(var(--時間, 4s) / var(--アニメ速度, 1)) infinite ease alternate;
}


/* #️⃣キーフレーム */

/* 🔹Scale (⚠️X軸は全て --キャラ反転 必須) */

@keyframes 縦伸 { /* 原型から縦方向に伸張 */
      0% { scale: var(--キャラ反転, 1) 1; }
    100% { scale: var(--キャラ反転, 1) var(--倍率, 1.05); }
}

@keyframes 目瞬 { /* 原型停留9割、縦に収縮1割 */
    0%, 90% { scale: var(--キャラ反転, 1) 1.0; }
    100%    { scale: var(--キャラ反転, 1) 0.1; }
}

@keyframes 拍動 { /* 原型から速く拡張、原型にゆっくり収縮 */
    0%, 100% { scale: calc(var(--キャラ反転, 1) * 1) 1; }
    40%      { scale: calc(var(--キャラ反転, 1) * var(--倍率, 1.1)) var(--倍率, 1.1); }
}

@keyframes 発射 { /* ゼロ縮小から速く拡張、原型にゆっくり収縮 */
      0% { opacity: 0;
           scale:   calc(var(--キャラ反転, 1) * 0.5) 0.5; }
     40% { opacity: 1;
           scale:   calc(var(--キャラ反転, 1) * var(--倍率, 1.2)) var(--倍率, 1.2); }
    100% { opacity: 1;
           scale:   calc(var(--キャラ反転, 1) * 1.0) 1.0; }
}

/* 🔹Rotate */

@keyframes 横揺 { /* 0deg を中心にユラユラ */
      0% { rotate: calc(var(--角度, 5deg) *  1); }
    100% { rotate: calc(var(--角度, 5deg) * -1); }
}

@keyframes 回転 { /* 左一回転 */
      0% { rotate: 360deg; }
    100% { rotate:   0deg; }
}

/* 🔹Translate */

@keyframes 震動 { /* 小刻みな震え */
    0%, 100% { translate:  0    0;   }
    10%      { translate: -2px  1px; }
    20%      { translate:  1px -2px; }
    30%      { translate: -1px  2px; }
    40%      { translate:  2px -1px; }
    50%      { translate: -2px -2px; }
    60%      { translate:  1px  2px; }
    70%      { translate: -1px -1px; }
    80%      { translate:  2px  1px; }
    90%      { translate: -2px  2px; }
}

/* 🔹Complex */

@keyframes 微動 {
      0% { translate: 0 -3px; }
     20% { rotate:  2deg; }
     80% { rotate: -3deg; }
    100% { translate: 0  3px; }
}