@charset "UTF-8";

/* #️⃣汎用アニメ */

/* 🔹スクロール出現監視 */

.▼      { animation-play-state: paused; }
.▼.再生 { animation-play-state: running; }

/* 🔹汎用アニメ */

.出現 {
    opacity: 0.001;
    animation: 出現 var(--時間, 1s) linear forwards var(--待機, 0s);
}
@keyframes 出現 {
      0% { opacity:   0.001; }
    100% { opacity:   1;
           animation: none; }
}

.消滅 { animation: 消滅 var(--時間, 1s) linear forwards var(--待機, 0s);
}
.連動消滅 {
    animation: 消滅 auto linear forwards;
    animation-timeline: view();
}
@keyframes 消滅 {
      0% { opacity:    auto; }
    100% { opacity:    0;
           animation:  none;
           visibility: hidden;}
}

.出現→消滅 {
    opacity: 0.001;
    animation: 出現→消滅 var(--時間, 10s) linear forwards var(--待機, 0s);
}
@keyframes 出現→消滅 {
      0%      { opacity:    0.001; }
     10%, 90% { opacity:    1; }
    100%      { opacity:    0;
                animation:  none;
                visibility: hidden; }
}

.拡大 {
    scale: 0.001;
    transform-origin: var(--起点, center bottom);
    animation: 拡大 var(--時間, 1s) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards var(--待機, 0s);
}
@keyframes 拡大 {
      0% { scale:     0.001; }
    100% { scale:     1;
           animation: none; }
}

.スライド {
    opacity: 0.001;
    animation: スライド var(--時間, 1s) cubic-bezier(0.175, 0.885, 0.32, 1.07) forwards var(--待機, 0s);
}
@keyframes スライド {
      0% { translate: calc(var(--方向, 1) * 99vw) 0; }
    100% { translate: 0 0;
           opacity:   1;
           animation: none; }
}

.倒れ {
    rotate:  var(--角度, -90deg);
    opacity: 0.001;
    transform-origin: var(--起点, left bottom);
    animation: 倒れ var(--時間, 2s) cubic-bezier(0.175, 0.885, 0.32, 1.4) forwards var(--待機, 0s);
}
@keyframes 倒れ {
      0% { rotate:    var(--角度, -90deg); }
    100% { rotate:    0deg;
           opacity:   1;
           animation: none; }
}

.浮遊 {
    animation: 浮遊 var(--時間, 1s) infinite ease-in-out alternate var(--待機, 0s);
}
@keyframes 浮遊 {
      0% { translate: 0  3px; }
    100% { translate: 0 -3px; }
}


/* #️⃣即時 (アニメ打ち消し) */

body.即時 .出現 {
    opacity:   1;
    animation: none;
}

body.即時 .消滅, body.即時 .出現→消滅 {
    opacity:    0;
    animation:  none;
    visibility: hidden;
}

body.即時 .拡大, body.即時 .💬 {
    scale:     1;
    animation: none;
}

body.即時 .スライド, body.即時 .落下, body.即時 .キャラ画像 {
    transform: translateX(0);
    translate: 0 0;
    opacity:   1;
    animation: none;
}

body.即時 .倒れ {
    rotate:    0deg;
    opacity:   1;
    animation: none;
}