@charset "UTF-8";

/* #️⃣汎用アニメクラス */

/* 🔹Opasity */

.出現 { /* 非表示から表示 */
    opacity: 0;
    animation: 出現 calc(var(--時間, 1s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) linear forwards;
}

.消滅 { /* 表示から非表示 */
    animation: 消滅 calc(var(--時間, 1s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) linear forwards;
}

.連動消滅 { /* 画面スクロールで表示から非表示 */
    animation: 消滅 auto linear forwards;
    animation-timeline: view();
}

.出現→消滅 { /* 非表示から表示、再び非表示 */
    opacity: 0;
    animation: 出現→消滅 calc(var(--時間, 10s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) linear forwards;
}

/* 🔹Scale */

.拡大 { /* ゼロ縮小から原型拡大 */
    scale: 0;
    transform-origin: var(--起点, 50% 100%);
    animation: 拡大 calc(var(--時間, 1s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* 🔹Rotate */

.半倒 { /* 左90度から0度へ1/4転 */
    opacity: 0;
    rotate:  var(--角度, -90deg);
    transform-origin: var(--起点, 0% 100%);
    animation: 半倒 calc(var(--時間, 1.5s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* 🔹Translate */

.横滑 { /* 画面端から定位置へ移動 */
    opacity: 0;
    animation: 横滑 calc(var(--時間, 1s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) cubic-bezier(0.175, 0.885, 0.32, 1.07) forwards;
}

.浮遊 { /* 上下移動 */
    animation: 浮遊 calc(var(--時間, 1s) / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) ease-in-out infinite alternate;
}


/* #️⃣汎用キーフレーム */

/* 🔹Opasity */

@keyframes 出現 { /* 非表示から表示 */
      0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes 消滅 { /* 表示から非表示 */
      0% { opacity: auto; }
    100% { opacity: 0;
           display: none; }
}

@keyframes 出現→消滅 { /* 非表示から表示、再び非表示 */
      0%      { opacity: 0; }
     10%, 90% { opacity: 1; }
    100%      { opacity: 0;
                display: none; }
}

/* 🔹Scale */

@keyframes 拡大 { /* ゼロ縮小から原型拡大 */
      0% { scale: 0; }
    100% { scale: 1; }
}

/* 🔹Rotate */

@keyframes 半倒 { /* 左90度から0度へ1/4転 */
      0% { rotate:  var(--角度, -90deg); }
    100% { rotate:  0deg;
           opacity: 1; }
}

/* 🔹Translate */

@keyframes 横滑 { /* 画面端から定位置へ移動 */
      0% { translate: calc(var(--方向, 1) * 99vw) 0; }
    100% { translate: 0 0;
           opacity:   1; }
}

@keyframes 浮遊 { /* 上下移動 */
      0% { translate: 0 calc(var(--距離, 3px) *  1); }
    100% { translate: 0 calc(var(--距離, 3px) * -1); }
}


/* #️⃣設定: 登場アニメ OFF */

body.即時 .出現,
body.即時 .拡大,
body.即時 .半倒,
body.即時 .横滑,
body.即時 .落下, 
body.即時 .キャラ画像,
body.即時 .💬 {
    opacity:   1;
    scale:     1;
    rotate:    0deg;
    translate: 0 0;
    transform: translateX(0);
    animation: none;
}

/* 🔹OFF時非表示 */

body.即時 .消滅,
body.即時 .出現→消滅 {
    opacity:   0;
    animation: none;
    display:   none;
}

/* 🔹OFF時表示 */

body.即時 .星群 { animation-play-state: running; }


/* #️⃣スクロール出現監視 (必ず animation ショートハンドより後に配置) */

.▼      { animation-play-state: paused; }
.▼.再生 { animation-play-state: running; }