@charset "UTF-8";

/* #️⃣ #001 キャラアニメ

/* 🔹初期停止(paused) → 再生クラス付与のアニメ指定 */

/* 身体 */ .伸縮.再生, .横揺.再生, .拡縮→伸縮.再生, .震動.再生,
/* 口元 */ .口元.再生,
/* 表情 */ .射出.再生, .拡縮→瞬き.再生, .射出→拍動.再生

    { animation-play-state: running; }

/* 🔹表情アニメ OFF */

/* 身体 */ body.停止 .伸縮, body.停止 .横揺, body.停止 .拡縮→伸縮, body.停止 .震動,
/* 口元 */ body.停止 .口元,
/* 表情 */ body.停止 .射出, body.停止 .拡縮→瞬き, body.停止 .射出→拍動.再生,
/* 無限 */ body.停止 .拍動, body.停止 .回転, body.停止 .フィギュア,
/* 吹出 */ body.停止 .💬::before, body.停止 .💬::after

    { animation: none; }

body.停止 .射出 {
    opacity: 1;
    scale:   1;
}


/* #️⃣登場で再生、次ターンで停止される身体アニメ ( class="キャラ画像 ◯◯◯" ) */

.伸縮 {
    transform-origin: center bottom;
    animation: 伸縮 var(--時間, 0.5s) var(--待機, 0s) ease-in-out infinite alternate paused;
}
@keyframes 伸縮 {
    0%, 100% { scale: var(--キャラ反転, 1) 1.00; } /* ⚠️scale は --キャラ反転 必須 */
    50%      { scale: var(--キャラ反転, 1) 1.05; }
}

.横揺 {
    transform-origin: var(--起点, center bottom);
    animation: 横揺 var(--時間, 0.5s) var(--待機, 0s) ease-in-out infinite alternate paused;
}
@keyframes 横揺 {
      0% { rotate: calc(var(--角度, 5deg) *  1); }
    100% { rotate: calc(var(--角度, 5deg) * -1); }
}

.拡縮→伸縮 {
    transform-origin: center bottom;
    animation: 拡縮 var(--時間1, 1.0s) var(--待機1, 0s) paused,
               伸縮 var(--時間2, 0.5s) var(--待機2, 1s) ease-in-out infinite alternate paused;
}
@keyframes 拡縮 {
    0%, 100% { scale: calc(var(--キャラ反転, 1) * 1) 1; }
    40%      { scale: calc(var(--キャラ反転, 1) * var(--拡大, 1.1)) var(--拡大, 1.1); }
}

.震動 {
    animation: 震動 var(--時間, 0.5s) var(--待機, 0s) linear infinite paused;
}
@keyframes 震動 {
    0%, 100% { translate:  0    0;   }
    10%      { translate: -2px  1px; }
    20%      { translate:  1px -2px; }
    30%      { translate: -1px  2px; }
    40%      { translate:  2px -1px; }
    50%      { translate: -2px -2px; }
    60%      { translate:  1px  2px; }
    70%      { translate: -1px -1px; }
    80%      { translate:  2px  1px; }
    90%      { translate: -2px  2px; }
}


/* #️⃣差分アニメ ( class="差分 ◯◯◯" ) */

/* 🔹登場で再生、文字送り完了で停止される口元アニメ */

.口元 {
    transform-origin: center var(--起点, 75%);
    animation: 口元 var(--時間, 0.2s) var(--待機, 0s) ease-in-out infinite alternate paused;
}
@keyframes 口元 {
      0% { scale: var(--キャラ反転, 1) 1.0; }
    100% { scale: var(--キャラ反転, 1) 0.1; }
}

/* 🔹登場で再生、秒数経過で自動終了する表情アニメ */

.射出 {
    opacity: 0;
    animation: 射出 var(--時間, 1s) var(--待機, 0s) forwards paused;
}
@keyframes 射出 {
      0% { opacity: 0;
           scale:   calc(var(--キャラ反転, 1) * 0.3) 0.3; }
     40% { opacity: 1;
           scale:   calc(var(--キャラ反転, 1) * 1.2) 1.2; }
    100% { opacity: 1;
           scale:   calc(var(--キャラ反転, 1) * 1.0) 1.0; }
}

.拡縮→瞬き {
    transform-origin: center 67%;
    animation: 拡縮 1s forwards paused,
               瞬き 1s ease-in-out infinite alternate 1s paused;
}

.射出→拍動 {
    animation: 射出 1s ease forwards paused,
               拍動 0.5s infinite ease-in-out alternate 1s paused;
}

/* 🔹登場で再生、無限アニメへ移行 */

@keyframes 瞬き {
    0%, 90% { scale: var(--キャラ反転, 1) 1.0; }
    100%    { scale: var(--キャラ反転, 1) 0.1; }
}

/* 🔹最初から再生されていて停止しない無限アニメ */

.拍動 { animation: 拍動 var(--時間, 1s) var(--待機, 0s) ease-in-out infinite alternate; }
@keyframes 拍動 {
      0% { scale: calc(var(--キャラ反転, 1) * 1.0) 1.0; }
    100% { scale: calc(var(--キャラ反転, 1) * 1.1) 1.1; }
}

.回転 {
    transform-origin: var(--起点, center center);
    animation: 回転 var(--時間, 5s) var(--待機, 0s) linear infinite;
}
@keyframes 回転 {
      0% { rotate: 360deg; }
    100% { rotate:   0deg; }
}

.フィギュア { 
    transform-origin: 40% 90%;
    animation: フィギュア 4s infinite ease alternate;
}
@keyframes フィギュア {
      0% { translate: 0 -3px; }
     20% { rotate:  2deg; }
     80% { rotate: -3deg; }
    100% { translate: 0  3px; }
}