@charset "UTF-8";

/* #️⃣ヘッダー */

.ヘッダー {
    position: fixed;
    top:      0;
    left:     2px;
    right:    2px;
    z-index:  99;

    display:         flex;
    justify-content: space-between; /* 左寄せ(ロゴ)と右寄せ(設定)に分離 */
    align-items:     flex-start;

    pointer-events: none;
}

/* 🔹ロゴと設定 */

.ロゴ, .設定 {
    display:        flex;
    flex-direction: column;
    align-items:    center;

    max-width: 45%; /* 横幅 */

    pointer-events: auto;
}

.📻 {
    cursor:     pointer;
    transition: scale 0.3s ease;
}
.設定.オープン .📻 { scale: 1.1; }

.設定💬 {
    position: absolute;
    top:      65px; /* 位置 */
    right:    0;

    width: 250px;

    background-color: var(--標準色, #777);
    border: 1px solid var(--中光,   #888);
    border-radius:    30px;

    backdrop-filter:  blur(4px);
    box-shadow:       0  2px 20px black,             /* 背景の影 */
                inset 0  2px 10px var(--弱光, #888), /* 光沢 */
                inset 0 -2px 20px rgb(0 0 0 / 50%); /* 影 */

    transform-origin: top right;
    scale:      0;
    opacity:    0;
    visibility: hidden;

    transition:
        scale      0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity    0.3s ease,
        visibility 0.4s;
}
.設定.オープン .設定💬 {
    scale:      1;
    opacity:    1;
    visibility: visible;
    animation:  none;
}

.設定💬::before { /* ふきだしのしっぽ */
    content:  '';
    position: absolute;
    top:      -6px;
    right:    27px;

    border-width: 0 1px 6px 3px;
    border-style: solid;
    border-color: transparent transparent var(--中光, #888) transparent;
}

.設定項目 {
    display:        flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
}

.スライダー {
    display:     flex;
    align-items: center;
    gap:         6px;

    color: gold;
}
.スライダー input[type="range"] {
    flex: 1;

    accent-color: gold; /* ツマミ色 */
    cursor:       pointer;
}

.スライダー数値 {
    position:  absolute;
    top:       -6px; /* 位置 */
    left:      50%;

    padding:   4px 8px;
    translate: -50%;

    border:        1px solid var(--中光, #888);
    border-radius: 6px;

    background-color:     #555;
    color:                gold;
    box-shadow: 0 2px 5px black;

    pointer-events: none;
    
    /* フェード設定 */
    opacity:    0;
    visibility: hidden;
    animation:  none;

    transition: opacity    0.2s ease,
                visibility 0.2s ease;
}
.スライダー:hover .スライダー数値, .スライダー input[type="range"]:focus + .スライダー数値 { /* フォーカス時 */
    opacity:    1;
    visibility: visible;
    animation:  none;
}

.リセット {
    display: block;

    margin:  30px auto 0;
    padding: 4px 8px;

    border:        1px solid var(--中光, #888);
    border-radius: 6px;

    color:  var(--中光, #888);
    cursor: pointer;

    transition: all 0.2s ease;
}
.リセット:hover { color:     var(--強光, seashell);
                 animation: none;
}