@charset "UTF-8";

/* #️⃣ロゴと設定 */

.ヘッダー {
    position: fixed;
    top:      0;
    left:     0;
    right:    2px;
    z-index:  99;

    display:         flex;
    justify-content: flex-start;
    align-items:     flex-start;

    font-size: 12px;

    pointer-events: auto;
}

.ロゴ {
    max-width: calc(44% + var(--画像サイズ, 4) * 1%);
    flex-shrink: 0;
}

.表示範囲 {
    margin-left: 9px;

    opacity:    0.5;
    transition: opacity 0.2s;
}

.表示範囲:hover { opacity: 1; }

#非表示上, #非表示下 {
    width: 40px;

    border: 1px dashed gray;
    border-radius: 8px;

    background-color: transparent;

    font-size:  24px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }

.縦列 {
    display:        flex;
    flex-direction: column;
}

.スピンボタン {
    font-size:   18px;
    line-height: 1;
}

.設定 { 
    display:        flex;
    flex-direction: column;
    align-items:    center;

    margin-left: auto;
    max-width: calc(11% + var(--画像サイズ, 4) * 0.25%); }

.📻 {
    cursor: pointer;

    transition: scale  calc(var(--時間, 0.2s) / var(--アニメ速度, 1)),
                filter 1.0s; /* 消光用 */
}

.設定.オープン .📻 { scale: 1.2; }


/* #️⃣設定ふきだし */

.設定💬 {
    position: absolute;
    top:      calc(48px + var(--画像サイズ, 4) * 1px); /* 位置 */
    right:    0;

    width: 250px;

    border: 1px solid var(--強光, seashell);
    border-radius:    25px;

    background-color: rgba(60, 60, 60, 0.75);

    backdrop-filter:  blur(6px);
    box-shadow:       0  2px 20px black,             /* 背景の影 */
                inset 0  2px 10px var(--弱光, #888), /* 光沢 */
                inset 0 -2px 20px rgb(0 0 0 / 50%);  /* 影 */

    transform-origin: top right;
    scale:      0;
    opacity:    0;
    visibility: hidden;

    transition:
        scale      calc(var(--時間, 0.3s) / var(--アニメ速度, 1)) cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity    calc(var(--時間, 0.3s) / var(--アニメ速度, 1)),
        visibility calc(var(--時間, 0.3s) / var(--アニメ速度, 1));
}

.設定.オープン .設定💬 {
    scale:      1;
    opacity:    1;
    visibility: visible;
}

.設定💬::before { /* ふきだしのしっぽ */
    content: '';

    position: absolute;
    top:      -6px;
    right:    25px;

    border-width: 0 1px 6px 3px;
    border-style: solid;
    border-color: transparent transparent var(--強光, seashell) transparent;
}

/* 🔹スライダー群 */

.設定項目 {
    display:        flex;
    flex-direction: column;

    margin-bottom: 18px;
}

.スライダー {
    display:     flex;
    align-items: center;
    gap:         6px;

    color: gold;
}
.スライダー input[type="range"] {
    flex: 1;

    accent-color: gold; /* ツマミ色 */
    cursor:       pointer;
}

.スライダー数値 {
    position:  absolute;
    top:       -8px; /* 位置 */
    left:      50%;

    padding:   2px 10px;
    translate: -50%;

    border:        1px solid var(--強光, seashell);
    border-radius: 6px;

    background-color:#444;

    font-size: 1rem;
    color:   gold;

    box-shadow: 0 2px 5px black;

    pointer-events: none;
    
    /* 🔹フェード設定 */

    opacity:    0;
    visibility: hidden;

    transition: opacity    0.2s,
                visibility 0.2s;
}

.スライダー:hover .スライダー数値, .スライダー input[type="range"]:focus + .スライダー数値 { /* フォーカス時 */
    opacity:    1;
    visibility: visible;
}

/* 🔹スイッチ群 */

.設定グループ {
    display:         flex;
    flex-wrap:       wrap;          /* 下段折り返し */
    justify-content: space-between; /* 均等化 */
}

.設定グループ .設定項目 {
    align-items: center;
    white-space: nowrap;
}

.スイッチ {
    position: relative;
    display:  inline-block;

    width:  55px;
    height: 20px;
}

.スイッチ input { /* 元の形は隠す */
    width:   0;
    height:  0;
    opacity: 0;
}

.スイッチ背景 { /* OFF */
    position: absolute;
    top:      0;
    left:     0;
    right:    0;
    bottom:   0;

    border:        1px solid var(--中光, #888);
    border-radius: 10px;

    cursor: pointer;

    transition: calc(var(--時間, 0.3s) / var(--アニメ速度, 1));
}

.スイッチ背景:before { /* OFFのツマミ */
    content: "";

    position: absolute;
    left:     2px;
    bottom:   2px;
    z-index:  1;

    width:  14px;
    height: 14px;

    border-radius:    50%;
    background-color: gold;

    transition: calc(var(--時間, 0.3s) / var(--アニメ速度, 1));
}

.スイッチ背景:after { /* OFFの文字 */
    content: "OFF";

    position: absolute;
    top:      50%;
    right:    10px;

    color:       var(--中光, #888);
    text-shadow: none;

    translate:  0 -50%;
    transition: calc(var(--時間, 0.3s) / var(--アニメ速度, 1));
}

input:checked + .スイッチ背景 { /* ON */
    background-color:             goldenrod;
    box-shadow: inset 1px 2px 3px rgb(0 0 0 / 50%);
}

input:checked + .スイッチ背景:before { /* ONのツマミ */
    background-color: var(--強光, seashell);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 50%);

    translate: 36px 0;
}

input:checked + .スイッチ背景:after { /* ONの文字 */
    content: "ON";

    left:  10px;
    right: auto;

    color: var(--強光, seashell);
}

/* 🔹初期化 */

.リセット {
    display: block;

    margin:  0 auto;
    padding: 4px 8px;

    border:        1px solid var(--中光, #888);
    border-radius: 6px;

    color: var(--中光, #888);

    transition: all 0.2s;
}
.リセット:hover { color: var(--強光, seashell); }


/* #️⃣画面横幅 501px 以上の時、画像サイズ項目を隠す */

@media (min-width: 501px) {
    .設定項目:has(#画像サイズ) {
        display: none;
    }
    :root { --画像サイズ: 4 !important; }
}