@charset "UTF-8";

/* #️⃣すべての要素の基本ルール */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* タップ影を消す */
}

input, button, textarea, select {
  font-family: inherit; /* フォーム要素のフォントをbodyに合わせる */
}

/* #️⃣余白・フォント・表示の共通リセット */
html {
  scroll-behavior: smooth; /* スクロールを滑らかに */
}

body {
  margin: 0;
  padding: 0;
  background: black url(img/bg_space.gif);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;  /* 視認性の高い基本フォント */
  -webkit-font-smoothing: antialiased; /* 文字を滑らかに */
  color: #eee;
  overflow-x: hidden; /* 横スクロール(画面へのはみ出し)を防止 */
}

/* #️⃣見出しや段落の余白をゼロに */
h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

/* #️⃣タグごとの個別リセット */
ul, ol {
  list-style: none; /* リストの「・」を消す */
}

a {
  text-decoration: none; /* リンクの下線を消す */
  color: inherit;        /* リンクの青文字をリセット */
}

img {
  display: block;   /* 画像下の隙間を消す */
  max-width: 100%;  /* 画面からはみ出さない */
  height: auto;     /* 縦横比の維持 */
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* #️⃣オリジナルクラス */
.夜空 {
background: url(img/bg_star.gif);
height: 55px;
}

.対話全体枠 {
    max-width: 800px;            /* 大型デバイスの最大横幅 */
    width: 100%;                 /* スマホでの画面合わせ */
    margin: 0 auto;              /* 中央寄せ */
    gap: 16px;                   /* 発言ごとの間隔 */
    padding: 0 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.🥸, .🐰, .👩, .👤 {
    display: flex;
    flex-direction: column;
}

.キャラ画像 {
    max-width: 25%;       /* 対話全体枠の25%以下に */
    margin-bottom: -32px;
    z-index: 1;
}

.💬 {
    background-color: rgb(128 128 128 / 50%);
    border-radius: 16px;
    padding: 16px;
    line-height: 1.5;
    word-break: break-all;  /* 右端で強制改行 */
    position: relative;     /* しっぽ位置指定のため */
}

.💬::after {    /* 吹き出しのしっぽ */
    content: '';
    border-color: transparent transparent rgb(128 128 128 / 50%) transparent;
    border-style: solid;
    display: block;
    position: absolute;
    top: -8px;
}

/* #️⃣キャラの指定と配置、ふきだしの自動配置と配色 */
.左, .🥸:not(.右) {
    align-items: flex-start;
}

.右, .🐰:not(.左) {
    align-items: flex-end;
}

.左 .💬, .🥸:not(.右) .💬 {
    margin-left: 20%;
}

.右 .💬, .🐰:not(.左) .💬 {
    margin-right: 20%;
}

.左 .💬::after, .🥸:not(.右) .💬::after {
    left: 8%;
    border-width: 0 4px 8px 0;
}

.右 .💬::after, .🐰:not(.左) .💬::after {
    right: 8%;
    border-width: 0 0 8px 4px;
}

.🥸 .💬 {
    background-color: rgb(118 101 85 / 50%);
}

.🐰 .💬 {
    background-color: rgb(149 85 85 / 50%);
}

.🥸 .💬::after {
    border-color: transparent transparent rgb(118 101 85 / 50%) transparent;
}

.🐰 .💬::after {
    border-color: transparent transparent rgb(149 85 85 / 50%) transparent;
}