@charset "UTF-8";

/* #️⃣トップ画像 */
.放送中 {
    opacity: 0;
    animation: 落下 1s ease-out forwards 2s;
}
@keyframes 落下 {
     0% {
        opacity: 1;
        translate: 0 -50vh;
        animation-timing-function: ease-in;
    }
    60% {
        translate: 0 0;
        animation-timing-function: ease-out;
    }
    70% {
        translate: 0 -30px;
        animation-timing-function: ease-in;
    }
    80% {
        translate: 0 0;
        animation-timing-function: ease-out;
    }
    90% {
        translate: 0 -10px;
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.ネオン {
    filter: drop-shadow(0 0 20px #FF0055);
    animation: レインボー 7s infinite linear alternate;
}
@keyframes レインボー {
    0% { filter: drop-shadow(0 0 2px #FF0055) hue-rotate(  0deg); }
  100% { filter: drop-shadow(0 0 2px #FF0055) hue-rotate(360deg); }
}
.放送灯   { filter: drop-shadow(0 0 5px red); }
.オンエア { filter: drop-shadow(0 0 2px var(--強光)); }