@charset "UTF-8";

/* #️⃣宇宙視差背景 */

.宇宙全体 {
    position: relative;
    width:    100%;
    overflow: clip;
}

.宇宙レイヤー {
    position: fixed; /* scroll(root)と同期させるため固定 */
    top:      0;
    left:     0;

    width:  100%;
    height: 150vh; /* ⚠️スクロールしてズレる余白 (--視差速度によっては変更が必要) */

    background-repeat:   no-repeat;
    background-position: center;
    background-size:     cover;

    pointer-events: none;
}

.遠景 {
    background-image:   url('img/ucyu_enkei.webp');

    animation:          遠景・動き auto linear forwards;
    animation-timeline: scroll(root);
}
.中景 {
    background-image:   url('img/ucyu_cyukei.webp');

    animation:          中景・動き auto linear forwards,
                        中景・瞬き 1.7s ease-in-out infinite alternate;
    animation-timeline: scroll(root),
                        auto;
}
.近景 {
    background-image:   url('img/ucyu_kinkei.webp');

    animation:          近景・動き auto linear forwards,
                        近景・瞬き 1.3s ease-in-out infinite alternate;
    animation-timeline: scroll(root),
                        auto;
}

@keyframes 遠景・動き {
    from { translate: 0 0; }
    to   { translate: 0 var(--視差速度, -100px); } /* 低速 */
}
@keyframes 中景・動き {
    from { translate: 0 0; }
    to   { translate: 0 calc(var(--視差速度, -100px) * 3); } /* 中速 */
}
@keyframes 近景・動き {
    from { translate: 0 0; }
    to   { translate: 0 calc(var(--視差速度, -100px) * 9); } /* 高速 */
}

@keyframes 中景・瞬き {
      0% { opacity: 0.3; }
     50% { opacity: 0.8; }
    100% { opacity: 0.4; }
}
@keyframes 近景・瞬き {
      0% { opacity: 1.0; }
     50% { opacity: 0.5; }
    100% { opacity: 0.9; }
}


/* #️⃣流星 (右上から出現、反転で左上から) */

.流星 {
    position:   absolute;
    
    width:      100px; /* 長さ */
    height:     1px;   /* 太さ */

    background: linear-gradient(-45deg, rgb(0 0 0 / 0), var(--強光, seashell));
    filter:     drop-shadow(0 0 6px var(--強光, seashell));
    opacity:    0;

    animation:  流星 1s linear forwards; /* JSで起動 */
}

.流星.反転 {
    animation-name: 流星反転;
    background: linear-gradient(45deg, rgb(0 0 0 / 0), var(--中光, #888));
}

@keyframes 流星 {
     0% {
        opacity:   0;
        translate: 0 0;
        scale:     0 1;
        rotate:   -45deg;
    }
    20% {
        opacity:   1;
        translate: 0 0;
        scale:     1 1;
        rotate:   -45deg;
    }
    100% {
        opacity:    0;
        translate:  -300px 300px;
        scale:      1 1;
        rotate:     -45deg;
        display:    none;
    }
}
@keyframes 流星反転 {
     0% {
        opacity:   0;
        translate: 0 0;
        scale:     0 1;
        rotate:    45deg;
    }
    20% {
        opacity:   1;
        translate: 0 0;
        scale:     1 1;
        rotate:    45deg;
    }
    100% {
        opacity:    0;
        translate:  300px 300px;
        scale:      1 1;
        rotate:     45deg;
        display:    none;
    }
}

.流星大 {
    opacity:   0;
    animation: 流星大 calc(1.3s / var(--アニメ速度, 1)) linear forwards 1s;
}
@keyframes 流星大 {
      0% { opacity:    0;
           translate:  200px -300px;
    }
     70% { opacity:    1; }
    100% { opacity:    0;
           translate:  -200px 100px;
           display:    none;
    }
}


/* #️⃣ライン */

.星群, .カチンコ星群 {
    margin-bottom:   -50px;
    height:           55px;
    background-image: url('img/seigun.webp');
    opacity:          0;

    animation: 出現 calc(1s / var(--アニメ速度, 1)) calc(var(--待機, 0s) / var(--アニメ速度, 1)) linear forwards,
               近景・瞬き 2s calc(var(--待機, 0s) + 1s / var(--アニメ速度, 1)) ease-in-out infinite alternate;
}